.ui.grid {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 13px;
  margin: 10px 20px 0px;
  color: grey;
}

p:first-child {
  margin-top: 15px;
}

.review-content {
  font-size: 17px;
  color: black;
}

h1 {
  text-align: center;
}

/* .show {
  border: solid 1px #ced6e0;
  border-radius: 3px;
  height: 750px;
} */

.show-details-container {
  margin: 0px auto;
  margin-top: 30px;
}

.review-box {
  border: solid 1px #ced6e0;
  border-radius: 3px;
  margin: 10px auto;
  width: 100%;
}

.review-log {
  text-align: left;
}

.review-log h3 {
  margin: 30px 10px;
}
